/* fonts */

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: 
        url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Bebas';
    src: 
        url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue.woff') format('woff'),
        url('../fonts/BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: 
        url('../fonts/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Bold.woff') format('woff'),
        url('../fonts/BebasNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: 
        url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Thin.woff') format('woff'),
        url('../fonts/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* END fonts */

/* icons */

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before{
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-fire:before{content:'\0041';}
.icon-headphones:before{content:'\0042';}
.icon-pen:before{content:'\0043';}
.icon-linkedin:before{content:'\0044';}
.icon-dribbble:before{content:'\0045';}
.icon-instagram:before{content:'\0046';}
.icon-twitter:before{content:'\0047';}
.icon-facebook:before{content:'\0048';}
.icon-download:before{content:'\0049';}
.icon-attach:before{content:'\004a';}
.icon-filter:before{content:'\004b';}
.icon-arrow-bold:before{content:'\004c';}
.icon-play:before{content:'\004d';}
.icon-next:before{content:'\004e';}
.icon-prev:before{content:'\004f';}

/* END icons */

/* reset.css */

html{font-family:sans-serif;font-size:10px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:100%;height:100%;box-sizing:border-box;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}body{position:relative;width:100%;height:auto;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none;color:inherit;}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type="reset"],[type="submit"],button,html [type="button"]{-webkit-appearance:button}[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}*{box-sizing:inherit}:before{box-sizing:inherit}:after{box-sizing:inherit}body{color:#fff;font-family:'Gilroy',sans-serif;font-weight:400;word-wrap:break-word;font-kerning:normal;-moz-font-feature-settings:kern,liga,clig,calt;-ms-font-feature-settings:kern,liga,clig,calt;-webkit-font-feature-settings:kern,liga,clig,calt;font-feature-settings:kern,liga,clig,calt}img{max-width:100%;margin-left:0;margin-right:0;margin-top:0;padding:0}h1{padding:0;margin:0;color:inherit;font-family:inherit;font-weight:600;text-rendering:optimizeLegibility;font-size:2.25rem;line-height:1.1}h2{padding:0;margin:0;color:inherit;font-family:inherit;font-weight:600;text-rendering:optimizeLegibility;font-size:1.7rem;line-height:1.1}h3{padding:0;margin:0;color:inherit;font-family:inherit;font-weight:600;text-rendering:optimizeLegibility;font-size:1.4rem;line-height:1.1}h4,h5,h6{padding:0;margin:0;color:inherit;font-family:inherit;font-weight:600;text-rendering:optimizeLegibility;font-size:1rem;line-height:1.1}hgroup{margin:0 0 1.45rem;padding:0}ul{list-style-position:outside;list-style-image:none;margin:0 0 1.45rem 1.45rem;padding:0}ol{list-style-position:outside;list-style-image:none;margin:0 0 1.45rem 1.45rem;padding:0}dl{margin:0 0 1.45rem;padding:0}dd{margin:0 0 1.45rem;padding:0}p{margin:1em 0;padding:0}figure{margin:0 0 1.45rem;padding:0}pre{font-size:.85rem;line-height:1.42;background:hsla(0,0%,0%,0.04);border-radius:3px;overflow:auto;word-wrap:normal;padding:1.45rem;margin:0 0 1.45rem}table{font-size:1rem;line-height:1.45rem;border-collapse:collapse;width:100%;margin:0 0 1.45rem;padding:0}fieldset{margin:0 0 1.45rem;padding:0}blockquote{margin:0 1.45rem 1.45rem;padding:0}form{margin:0;padding:0}noscript{margin:0 0 1.45rem;padding:0}iframe{margin:0 0 1.45rem;padding:0}hr{background:hsla(0,0%,0%,0.2);border:none;height:1px;margin:0 0 calc(1.45rem - 1px) 0;padding:0}address{margin:0 0 1.45rem;padding:0}b{font-weight:700}strong{font-weight:700}dt{font-weight:700}th{font-weight:700}li{margin-bottom:calc(1.45rem / 2)}ol li{padding-left:0}ul li{padding-left:0}li > ol{margin-left:1.45rem;margin-bottom:calc(1.45rem / 2);margin-top:calc(1.45rem / 2)}li > ul{margin-left:1.45rem;margin-bottom:calc(1.45rem / 2);margin-top:calc(1.45rem / 2)}blockquote :last-child{margin-bottom:0}li :last-child{margin-bottom:0}p :last-child{margin-bottom:0}li > p{margin-bottom:calc(1.45rem / 2)}code{font-size:.85rem;line-height:1.45rem}kbd{font-size:.85rem;line-height:1.45rem}samp{font-size:.85rem;line-height:1.45rem}abbr{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help}acronym{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help}abbr[title]{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;text-decoration:none}thead{text-align:left}td,th{text-align:left;border-bottom:1px solid hsla(0,0%,0%,0.12);font-feature-settings:tnum;-moz-font-feature-settings:tnum;-ms-font-feature-settings:tnum;-webkit-font-feature-settings:tnum;padding:.725rem .96667rem calc(0.725rem - 1px) .96667rem}th:first-child,td:first-child{padding-left:0}th:last-child,td:last-child{padding-right:0}tt,code{background-color:hsla(0,0%,0%,0.04);border-radius:3px;font-family:"SFMono-Regular",Consolas,"Roboto Mono","Droid Sans Mono","Liberation Mono",Menlo,Courier,monospace;padding:0;padding-top:.2em;padding-bottom:.2em}pre code{background:none;line-height:1.42}code:before,code:after,tt:before,tt:after{letter-spacing:-.2em;content:" "}pre code:before,pre code:after,pre tt:before,pre tt:after{content:""}@media only screen and (max-width: 480px){html{font-size:100%}}

/* END reset.css */

/* common styles */

.translate-xy {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.translate-x {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.translate-y {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transition-05s {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.transition-03s {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.div_100 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.desktop .desktop-hidden {
    display: none!important;
}

.mobile .mobile-hidden {
    display: none!important;
}

.is-hidden {
  display: none!important;
}

.h2rem { height: 2rem; }
.h3rem { height: 3rem; }
.h4rem { height: 4rem; }
.h5rem { height: 5rem; }
.h6rem { height: 6rem; }
.h7rem { height: 7rem; }
.h8rem { height: 8rem; }
.h9rem { height: 9rem; }
.h10rem { height: 10rem; }

.ff-bebas {
  font-family: "Bebas", sans-serif;
}

.tt-uppercase {
  text-transform: uppercase;
}

/*.unload-ani, .load-ani {
  transition: all 800ms ease;
}

.unload-ani:not(.unloaded) {
  transition-delay: 500ms;
}

.load-ani {
  opacity: 0;
  visibility: hidden;
}

.load-ani.loaded {
  opacity: 1;
  visibility: visible;
}

.unload-ani.unloaded {
  opacity: 0;
  visibility: hidden;
}*/

@keyframes pulse-btn-before {
  0% {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
  }

  100% {
    width: 250%;
    height: 250%;
    border: 6px solid rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-btn-after {
  0% {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
  }

  100% {
    width: 200%;
    height: 200%;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

/* END common styles */

/* mobile */

/* END mobile */